@import "./colors.scss";
@import "./variables.scss";

%styles {
  font-family: $noto-sans;
  border: none;
  padding: 0.3em;
  font-size: 1.5em;
  border-radius: 0.3em;
  cursor: pointer;
}

button.primary {
  @extend %styles;
  background-color: $primary-color;
  color: white;
}

button.primary.outline {
  @extend %styles;
  background-color: transparent;
  border: 2px solid $primary-color;
  color: $primary-color;
}

button.secondary {
  @extend %styles;
  background-color: $secondary-color;
  color: white;
}

button.link {
  @extend %styles;
  background-color: transparent;
}

button.link.white {
  @extend %styles;
  color: white;
}

button.normal {
  @extend %styles;
  font-size: 1em;
}
