@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import "./colors.scss";
@import "./variables.scss";
@import "./typography.scss";

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: $noto-sans;
}

nav {
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  justify-content: space-between;
  button {
    margin: 0.3em;
    @media screen and (max-width: 600px) {
      display: none;
      margin: 0;
    }
  }
  .with-logo {
    display: flex;
    align-items: center;
    color: white;
    @media screen and (max-width: 600px) {
      color: transparent;
    }
    .logo {
      height: 1em;
      @media screen and (max-width: 600px) {
        height: 2em;
      }
      margin-right: 0.3em;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}

section {
  min-height: 80vh;
  padding: 1em;
  margin-right: 3em;
  margin-left: 3em;
  display: flex;
  color: #351123;
  margin-bottom: 1em;
  border-radius: 0.3em;
}

section.min-100 {
  min-height: 100vh;
}

section.v-center {
  align-items: center;
}

section.right {
  justify-content: flex-end;
}

section.left {
  justify-content: flex-start;
}

section.center {
  justify-content: center;
}

section.white-bg {
  background-color: rgba(white, 0.5);
}

.App {
  font-family: $noto-sans;
  background-image: url("../Keda Tech Assessment BG.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 600px) {
    margin-left: -1em;
    background-size: contain;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  div {
    margin-right: 1em;
    margin-left: 1em;
    padding: 0.5em;
    @media screen and (max-width: 600px) {
      margin-right: 0;
      margin-left: 0;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}

.card {
  border-radius: 0.5em;
  background-color: white;
}

.card.primary {
  background-color: $primary-color;
  color: white;
}

.modal {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(black, 0.4);
  .card {
    width: 50vw;
    height: 50vh;
    position: relative;
    .close-button {
      position: absolute;
      top: 1em;
      right: 1em;
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 1em;
        padding: 0.5em;
        border-radius: 0.3em;
        border: 1px solid $secondary-color;
      }
    }
  }
}
