.text-large {
  font-size: 1.5em;
}

.text-small {
  font-size: 0.8em;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

i {
  margin-right: 0.3em;
}

i.large {
  font-size: 4em;
}

i.very-large {
  font-size: 10em;
}

.icon.center-align {
  display: flex;
  justify-content: center;
}
